
.App {
  text-align: center;
  height: 100vh; /* Modificado para ocupar toda la página */
  background-image: url('../public/img1.jpeg');
  background-size: cover;
  overflow-y: auto;
}


form{
  background-color: rgba(0, 0, 0, 0.689);
  padding: 25px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  margin: 100px 500px;
}
/* cambios en el titulo de registrar y iniciar sesion */
form h4{
  margin: 40px 40px ;
  font-size: 30px;
}


/* cambios en el aspecto donde se coloca la informacion */
.controls{
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  padding: 20px 100px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #ffffff;
}
.link {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(184, 183, 183);
  /* Otros estilos adicionales si los necesitas */
}

/* cambios al aspecto del boton */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.536);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

/* permite ver el botton en su segunda imagen */
button:hover {
  background-color: #ff4d00;
  box-shadow: 0px 15px 20px rgba(248, 164, 9, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

header{
  background-color: rgb(245,245,245);
  position: fixed;
  width: 100%;
}

header .container{
  flex-direction: row;
  justify-content: space-between;
}

header nav{
  flex-direction: row;
  padding-bottom: 0;
  padding-right: 20px;
}

header .logo{
  margin: 0;
  padding: 20px 25px;
  font-weight: bold;
  color: rgb(255, 77, 77);
  font-size: 1.6em;
}

header .container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

header nav{
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover{
  color: rgb(255, 77, 77);
}

/* contenido qr*/

.container{
  max-width: 1400px;
  margin: auto;
}

.p{
  width: 50%;
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 98vh;
  color: white;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)), 
      url(../public/img1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .img-container{
  background-image:url('../public/codigo-qr.png');
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 200px;
}
/* contenido reportes */
#reportes{
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;
}

#reportes .container{
  padding: 150px 12px;
}

#reportes h2{
  margin-top: 0;
  font-size: 3.2em;
}

#reportes p{
  display: none;
}

#reportes .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
}

.carta:first-child{
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("../public/uso.jpg");

}

.carta:nth-child(2){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("../public/entrada.jpg");
}

.carta:nth-child(3){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("../public/salida.jpg");
}

#reportes .report{
  display: flex;
  justify-content: center;
}

#reportes p{
  display: block;
  margin-bottom: 30px;
}

#reportes h2{
  font-size: 4em;
}

#reportes h3{
  margin-top: 0;
}

#reportes .carta{
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 0;
  background-color: rgba(50, 50, 50, 1);
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
/* cuenta */
.perfil {

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

h1 {
font-size: 36px;
margin-bottom: 30px;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

li {
margin-bottom: 10px;
}

strong {
font-weight: bold;
}
